In [9]:
import pandas as pd
import numpy as np

---
$REMPLACER$ LES $NaN$ par *$FFILL$* et *$BFILL$*

In [2]:
df = pd.DataFrame(
                   {'A': [2.0, 1.21, np.nan, 3.5, np.nan],
                    'B': [2.2, 3.13, 3.01, 2.3, np.nan],
                    'C': [1.33, 2.09, 3.00, np.nan, np.nan],
                    'D': [np.nan, 5.5, 2.18, 5.00, np.nan],
                    }
                )

In [3]:
df.style.highlight_null(color = "red")

In [4]:
print("mean col A: ", df['A'].mean())
print("mean col B: ", df['B'].mean())
print("mean col C: ", df['C'].mean())
print("mean col D: ", df['D'].mean())

mean col A:  2.236666666666667
mean col B:  2.66
mean col C:  2.14
mean col D:  4.226666666666667

In [5]:
df.fillna(method = 'ffill')

      A     B     C     D
0  2.00  2.20  1.33   NaN
1  1.21  3.13  2.09  5.50
2  1.21  3.01  3.00  2.18
3  3.50  2.30  3.00  5.00
4  3.50  2.30  3.00  5.00

In [7]:
# df.fillna(method = 'ffill', limit = 1)

In [8]:
df

      A     B     C     D
0  2.00  2.20  1.33   NaN
1  1.21  3.13  2.09  5.50
2   NaN  3.01  3.00  2.18
3  3.50  2.30   NaN  5.00
4   NaN   NaN   NaN   NaN